.main{
    /*min-h-screen*/
    min-height: 100vh;
    /*bg-slate-50*/
    background-color:#f8fafc;
    /*p-4*/
    padding: 1rem;
    /*text-slate-800*/
    color:#1e293b;


}
/*md;p-8*/
@media(min-width:768px){
    .main{
        padding: 2rem;
    }
}
.sub{
    /*max-w-2xl*/
    max-width: 42rem;
    /*mx-auto*/
    margin-left:auto;
    margin-right:auto;
    /*flex flex-col*/
    display:flex;
    flex-direction:column;
    /*gap-6*/
    gap:1.5rem;    
}
.input{
    display:flex;
    flex-direction:column;
    gap: 1rem;
    align-items: center;
    margin: 0 auto;
}
.input_label{
    /*test-sm*/
    font-size: 1.75rem;
    line-height: 1.25rem;
    /*font-bold*/
    font-weight: 700;
    /*text-slate-600*/
    color: #475569;
    /*uppercase*/
    text-transform: uppercase;
    /*tracking-wider*/
    letter-spacing: 0.05em;
    font-style: bold;
}

.input_section{
    /*flex-1*/
    flex: 1 1 0%;
    /*px-4*/
    /*py-3*/
    padding:0.75rem 1rem;
    /*rounded-xl*/
    border-radius: 0.75rem;
    /*border*/
    border-width:1px;
    border-style:solid;
    /*border-slate-200*/
    border-color: #e2e8f0;
    /*forcus:outline-none*/
    outline: 2px solid transparent;
    outline-offset: 2px;
    /*ring-2*/
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 0 2px #3b82f6;
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), 0 0 #0000;
    /*forcus:ring-indigo-500*/
    border:1px solid #e2e8f0;
    transition: all 0.2s;
    /*text-lg*/
    font-size: 1.125rem;
    line-height: 1.75rem;
    /*font-mono*/
    font-family: ui-monospace,SFMono-Regular, Menlo, Monaco,Conslas, "Liberation Mono", "Courier New", monospace;
    font-variant-numeric: tabular-nums;
    width: 100%;
    max-width: 800px;
}

.input_section::placeholder{
    color:#475569;
    font-size: 1rem;
}

.input_section_container{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    width: 100%;
    gap: 1.5rem;
    flex-direction: row;
}
.input_section:focus{
    /*forcus:ring-indigo-500*/
    outline: none;
    box-shadow: 0 0 0 2px #6366f1;
    border-color: #6366f1;
}
.checkbox_container{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-self: flex-start;
    border: 0.1rem solid #6366f1;
    width: 100%;
    border-radius: 0.75rem;
    box-sizing: border-box;
    padding: 0.5rem;
    margin-left: 0.5rem;
    background-color: skyblue;
    accent-color: #6366f1;

}
.expanded_checkbox_group{
    display: flex;
    color: #000000;
    font-size: 1rem;
    
}
.expanded_checkbox:checked + .expanded_text{
    color: #6366f1;
    font-weight: bold;
}
.expanded_text{
    margin-left: 0.25rem;
}

.factoed_checkbox_grouop{
    color: #000000;
    font-size: 1rem;
}

.factored_checkbox:checked + .factored_text{
    color: #6366f1;
    font-weight: bold;
}
.factored_text{
    margin-left: 0.25rem;
}

.none_checkbox:checked + .none_text{
    color: #6366f1;
    font-weight: bold;
}
.none_text{
    margin-left: 0.25rem;
}